@import "tailwindcss";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 14, 24, 36;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: "Inter", sans-serif;
}

/* 스크롤바 스타일 */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0e1824;
}

::-webkit-scrollbar-thumb {
  background: #3e4478;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3a5984;
}
